.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  height: 40px;
  width: 89px;
  margin-right: 24px;
}

.header__avatar {
  width: 100px;
  height: 100px;

  border-radius: 50%;
}

.header__date-and-location {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
}
.header__add-clothes-btn {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0 20px 0 auto;
  border: 0;
  font-size: 20px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
}
.header__username {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
